.slider-page{
    padding-top:90px;
}

.slider-img{
    height:650px;
    object-fit:cover;
}

.carousel-caption{
    bottom:30%;
}

.carousel-caption h1{
    font-size:55px;
    font-weight:bold;
}

.carousel-caption p{
    font-size:22px;
}

@media(max-width:991px){

.slider-page{
    padding-top:75px;
}

.slider-img{
    height:300px;
}

.carousel-caption{
    bottom:15%;
}

.carousel-caption h1{
    font-size:26px;
}

.carousel-caption p{
    font-size:15px;
}

}